$family-serif: Inconsolata, Consolas, monospace;
$link: hsl(204, 86%, 53%);

.navbar-item img {
  max-height: none;
}

.notification a:not(.button) {
  text-decoration: none;
}

.navbar.is-dark .navbar-brand > a.navbar-item:hover {
  background: unset;
}

$font-stack: 1rem Inconsolata;
